* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

header {
  padding: 24px calc(22.5% / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title img {
  width: 48px;
  height: 48px;
  margin: 0 8px;
}

.header-score {
  font-size: 24px;
  margin: 8px 0;
}

/* 裝置寬1024px以下一律4x13排列 */

#cards {
  width: 77.5%;
  margin: 0 auto;
  /* 排版 */
  display: grid;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: repeat(13, calc(77.5vw * 0.225 / 0.6));
  justify-content: space-between;
  grid-row-gap: clamp(4px, calc(10vh / 12), 8px);
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 卡背定位用 */
  position: relative;
}

.back::before {
  content: '';
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.back::after {
  content: '';
  background-image: url('img/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
  position: absolute;
  left: 10%;
  top: 5%;
  width: 80%;
  height: 90%;
  z-index: 2;
}

.card p {
  padding: 4px;
  font-size: 14px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.card img {
  max-width: 50%;
  align-self: center;
}

.card .red {
  filter: invert(26%) sepia(95%) saturate(7466%) hue-rotate(357deg) brightness(97%) contrast(115%);
}

.paired {
  background-color: #eee;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
}

@keyframes wrongAnimation {
  to {
    border: 1px solid #f00;
  }
}

/** 遊戲結束動畫 **/

.completed {
  position: fixed;
  z-index: 99;
  top: 33vh;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  padding: 48px 0;
}

.completed>p {
  font-size: 1.5em;
  color: #000;
  text-align: center;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #333;
}

@media screen and (min-width: 768px) {
  .card p {
    font-size: 28px;
  }
}

/* 裝置寬1024px以上改為13x4排列 */

@media screen and (min-width: 1024px) {
  header {
    padding: 36px calc(20% / 2);
  }
  #cards {
    width: 80%;
    /* 排版 */
    grid-template-columns: repeat(13, 7%);
    grid-template-rows: repeat(4, calc(80vw * 0.07 / 0.6));
    grid-row-gap: clamp(4px, calc(9vh / 3), 8px);
  }
  .card p {
    font-size: 18px;
  }
}